 
 <nav-bar></nav-bar>
 <div class="container">

      <h1>Login to Visy</h1>
 	    <hr/>
    	<form role="form" action="/auth/local" method="post" class="form-horizontal">
        <div class="rowd">    		
        <div class="form-group">
          <label for="identifier" class="col-sm-2 control-label">Username or Email</label>
            <div class="col-md-4">
              <input type="text" class="form-control"  id="identifier" name="identifier" placeholder="Username or Email">
            </div>
        </div>
        <div class="form-group">
          <label for="identifier" class="col-sm-2 control-label">Password</label>
            <div class="col-md-4">
              <input class="form-control" class="form-control" id="password" type="password" name="password" placeholder="Password">
            </div>
        </div>

        <!-- <label>Username or email
     			<input type="text" class="form-control"  id="identifier" name="identifier" placeholder="Username or Email">
     		</label> -->
     		 <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
    		      <button class="btn btn-lg btn-danger" type="submit">Sign In</button>
            </div>
          </div>
         </div>
   		</form>
	

</div>