

<div class="page">
  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      
    <nav-bar class="hide-for-small"></nav-bar>
    
    
    <off-nav></off-nav>
    
    <a class="exit-off-canvas" href="#"></a>
    <!-- This part contains our in page content -->
    <div class="main-wrapper overflow-y main-padding">


      
      
 <!--      <section role="main" ng-show="authenticated">
        <div class="row">
          <div class="large-3 medium-4 columns">
            <div ui-view="side-nav"></div>

            <side-nav class="hide-for-small"></side-nav>
          </div>
          
          <div class="large-9 medium-8 columns">
            <div class="content-wrapper"> -->
              
              
              <!-- <div ng-view></div> this is our default view -->
            <!--     <div ui-view></div>
            </div>
          </div>
        </div>
      </section> -->

      <section role="main" ng-show="authenticated">
        
          <div ui-view></div>
        
      </section>


      <section role="main" ng-hide="authenticated">
        <div class="row">

           <div class="large-7 medium-6 columns">
            <h1 ng-bind-template="Welcome to {{brand}}">Processing...</h1> 
          </div>
        </div>
      </section>
      
    </div>
  </div>
</div>
</div>