

 <nav class="navbar navbar-default navbar-fixed-top">
<!-- <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">{{brand}}</a></h1>
    </li>
   
  </ul>
  <section class="top-bar-section">
    <ul class="right" ng-show="authInit">
      <li class="has-form" ng-hide="authenticated">
        <div class="row collapse">
          <div class="large-7 small-5 columns" >
            <input type="text" placeholder="Username or Email" ng-model="identifier" ng-hide="authenticated">
            <small class="error" ng-show="identError">Invalid entry</small>
          </div>
          <div class="large-5 small-5 columns">
            <input type="password" placeholder="Password" ng-model="password" ng-hide="authenticated" ng-keyup="authenticate($event)">
            <small class="error" ng-show="passError">Invalid password</small>
          </div>
          
        </div>
        <div class="row">
          <div class="large-12 small-12" ng-show="badCredentials">
            <small class="error">Invalid username or password combination</small>
          </div>
        </div>
      </li>
      <li class="divider"></li>
      <li class="has-form show-for-large-up">  <a ng-click="authenticate($event)" class="button " >{{authenticated ? 'Logout': 'Login'}}</a> </li>
    </ul>
    <ul class="left" ng-show="authenticated">
      <li><a>Welcome {{user.first_name}}</a></li>
    </ul>
  </section> 
</nav>
 -->

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" ui-sref="app.index">{{brand}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul> -->
     <!--  <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="authenticated"><a href="#" ui-sref="app.login">Login</a></li>
        <li ng-show="authenticated"><a href="#" ng-click="authenticate($event)">Logout</a></li>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>